Repository shipengqi/golang-learn, changes with the labels that .github/labeler.yml gives for each.
All labels: concurrency, basic, practice, advance

.github/labeler.yml:

# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.

concurrency:
  - changed-files:
      - any-glob-to-any-file: content/docs/concurrency/*

basic:
  - changed-files:
      - any-glob-to-any-file: content/docs/basic/*

practice:
  - changed-files:
      - any-glob-to-any-file: ["content/docs/practice/*", "content/docs/project/*"]

advance:
  - changed-files:
      - any-glob-to-any-file: content/docs/advance/*

update
  content/docs/advance/05_sysmon.md
  content/docs/advance/mm/01_mm.md
  content/docs/advance/mm/02_gc.md
  content/docs/practice/05_trace.md
  content/docs/practice/06_performance.md
Labels: practice, advance

update
  content/docs/basic/03_slice.md
  content/docs/basic/04_map.md
  content/docs/basic/05_function.md
  content/docs/basic/06_interface.md
  content/docs/basic/07_reflect.md
  content/docs/basic/09_pointer.md
  content/docs/concurrency/07_context.md
Labels: concurrency, basic

update
  content/docs/advance/04_netpooler.md
  content/docs/basic/06_interface.md
  content/docs/basic/07_reflect.md
  content/docs/interview/_index.md
Labels: basic, advance

update
  content/docs/advance/pre/03_os.md
  content/docs/advance/scheduler/04_loop.md
  content/docs/basic/01_basic_type.md
  content/docs/basic/03_slice.md
  content/docs/basic/04_map.md
  content/docs/basic/06_interface.md
  content/docs/basic/07_reflect.md
  content/docs/basic/10_range.md
  content/docs/basic/12_defer.md
  content/docs/basic/14_make_new.md
  content/docs/concurrency/07_context.md
  content/docs/concurrency/09_channel.md
  content/docs/interview/_index.md
  content/docs/practice/06_performance.md
Labels: concurrency, basic, practice

Revert "update"
  content/docs/advance/04_netpooler.md
  content/docs/basic/06_interface.md
Labels: basic, advance

docs(interview): interview (#39)
  content/docs/advance/04_netpooler.md
  content/docs/advance/pre/03_os.md
  content/docs/advance/scheduler/04_loop.md
  content/docs/basic/01_basic_type.md
  content/docs/basic/03_slice.md
  content/docs/basic/04_map.md
  content/docs/basic/06_interface.md
  content/docs/basic/07_reflect.md
  content/docs/basic/10_range.md
  content/docs/basic/12_defer.md
  content/docs/basic/14_make_new.md
  content/docs/concurrency/07_context.md
  content/docs/concurrency/09_channel.md
  content/docs/interview/_index.md
  content/docs/practice/06_performance.md
Labels: concurrency, basic, practice, advance

update
  content/docs/advance/05_sysmon.md
  content/docs/advance/mm/02_gc.md
  content/docs/advance/scheduler/04_loop.md
  content/docs/basic/04_map.md
  content/docs/basic/07_reflect.md
  content/docs/basic/12_defer.md
  content/docs/concurrency/09_channel.md
  content/docs/practice/06_performance.md
Labels: concurrency, basic, practice, advance

update
  content/docs/advance/04_netpooler.md
  content/docs/advance/mm/01_mm.md
  content/docs/advance/pre/03_os.md
  content/docs/advance/scheduler/02_scheduler_init.md
  content/docs/advance/scheduler/04_loop.md
  content/docs/basic/01_basic_type.md
  content/docs/basic/02_array.md
  content/docs/basic/03_slice.md
  content/docs/basic/04_map.md
  content/docs/basic/06_interface.md
  content/docs/basic/07_reflect.md
  content/docs/basic/09_pointer.md
  content/docs/basic/10_range.md
  content/docs/basic/12_defer.md
  content/docs/basic/13_panic.md
  content/docs/concurrency/01_mutex.md
  content/docs/concurrency/03_waitgroup.md
  content/docs/concurrency/04_cond.md
  content/docs/concurrency/06_pool.md
  content/docs/concurrency/07_context.md
  content/docs/concurrency/08_atomic.md
  content/docs/concurrency/09_channel.md
  content/docs/concurrency/10_sema.md
  content/docs/concurrency/11_singleflight.md
  content/docs/concurrency/_index.md
  content/docs/interview/_index.md
  content/docs/practice/04_pprof.md
  content/docs/practice/05_trace.md
  content/docs/practice/06_performance.md
  content/docs/practice/08_mod.md
  content/docs/practice/10_remote_dev.md
  content/docs/project/16_casbin.md
Labels: concurrency, basic, practice, advance

docs: interview (#41)
  content/docs/advance/04_netpooler.md
  content/docs/advance/05_sysmon.md
  content/docs/advance/mm/01_mm.md
  content/docs/advance/mm/02_gc.md
  content/docs/advance/pre/03_os.md
  content/docs/advance/scheduler/02_scheduler_init.md
  content/docs/advance/scheduler/04_loop.md
  content/docs/basic/01_basic_type.md
  content/docs/basic/02_array.md
  content/docs/basic/03_slice.md
  content/docs/basic/04_map.md
  content/docs/basic/06_interface.md
  content/docs/basic/07_reflect.md
  content/docs/basic/09_pointer.md
  content/docs/basic/10_range.md
  content/docs/basic/12_defer.md
  content/docs/basic/13_panic.md
  content/docs/concurrency/01_mutex.md
  content/docs/concurrency/03_waitgroup.md
  content/docs/concurrency/04_cond.md
  content/docs/concurrency/06_pool.md
  content/docs/concurrency/07_context.md
  content/docs/concurrency/08_atomic.md
  content/docs/concurrency/09_channel.md
  content/docs/concurrency/10_sema.md
  content/docs/concurrency/11_singleflight.md
  content/docs/concurrency/_index.md
  content/docs/interview/_index.md
  content/docs/practice/04_pprof.md
  content/docs/practice/05_trace.md
  content/docs/practice/06_performance.md
  content/docs/practice/08_mod.md
  content/docs/practice/10_remote_dev.md
  content/docs/project/16_casbin.md
Labels: concurrency, basic, practice, advance

udpate
  content/docs/basic/11_select.md
Labels: basic

docs(project): add version identifier
  content/docs/advance/scheduler/03_main_g.md
  content/docs/project/05_version.md
Labels: practice

deploy: 01f6adc2a7f9ff37c72df47193f3dd2e16e3ee1c
  docs/advance/scheduler/03_main_g/index.html
  docs/advance/scheduler/index.xml
  docs/index.html
  docs/index.xml
  docs/project/05_version/index.html
  docs/project/index.xml
  sitemap.xml
  zh-cn.search-data.json
Labels: none
