Repository shipengqi/golang-learn, changes with the labels that .github/labeler.yml gives for each.
All labels: concurrency, basic, practice, advance

docs: add go trace usage
  content/docs/practice/06_trace.md
Labels: practice

update
  content/docs/practice/06_trace.md
Labels: practice

docs: trace completed
  content/docs/practice/04_pprof.md
  content/docs/practice/05_trace.md
  content/docs/practice/06_performance.md
  content/docs/practice/06_trace.md
Labels: practice

docs: add go trace usage (#24)
  content/docs/practice/04_pprof.md
  content/docs/practice/05_trace.md
  content/docs/practice/06_performance.md
  content/docs/practice/06_trace.md
Labels: practice

docs: go remote dev
  content/docs/practice/10_remote_dev.md
Labels: practice

update
  content/docs/practice/10_remote_dev.md
Labels: practice

update
  content/docs/practice/10_remote_dev.md
Labels: practice

update
  content/docs/practice/10_remote_dev.md
Labels: practice

update
  content/docs/practice/10_remote_dev.md
Labels: practice

docs: go remote dev (#25)
  content/docs/practice/10_remote_dev.md
Labels: practice

docs(go build): update usage of go:build tag
  SUMMARY.md
  content/docs/practice/01_build.md
Labels: practice

fix(project): remove commitizen usage
  SUMMARY.md
  content/docs/practice/01_build.md
  content/docs/project/01_specs.md
  content/docs/project/04_commitizen.md
  content/docs/project/06_api_doc.md
Labels: practice

docs(commitizen): commitizen link error
  .run/Run Dev Server.run.xml
  README.md
  booklist.md
  content/docs/project/04_commitizen.md
  content/docs/project/06_api_doc.md
  content/docs/project/14_error.md
Labels: practice

docs(project): casbib usage
  content/docs/project/15_gorm.md
  content/docs/project/16_casbin.md
Labels: practice

docs(project): error handle
  content/docs/concurrency/01_mutex.md
  content/docs/project/14_error.md
  content/docs/project/16_casbin.md
  deploy.sh
  hugo.yaml
  i18n/zh-cn.yaml
Labels: concurrency, practice

chore(hugo): remove build theme flag
  .github/workflows/gh-pages.yaml
Labels: none

chore(hugo): upgrade hugo
  .github/workflows/gh-pages.yaml
Labels: none

feat(images): Using Gitee as an image hosting platform
  README.md
  content/docs/basic/03_slice.md
  content/docs/basic/04_map.md
  content/docs/basic/09_pointer.md
  content/docs/concurrency/01_mutex.md
  content/docs/concurrency/03_waitgroup.md
  content/docs/concurrency/07_context.md
  content/docs/practice/04_pprof.md
  content/docs/practice/05_trace.md
  content/docs/practice/06_performance.md
  content/docs/practice/10_remote_dev.md
  content/docs/project/01_specs.md
  content/docs/project/06_api_doc.md
  content/docs/project/07_flow.md
  content/docs/project/08_make.md
  content/docs/project/12_goreleaser.md
  layouts/partials/custom/head-end.html
Labels: concurrency, basic, practice

docs(casbin): adapter, watcher, enforcer usage
  content/docs/basic/01_basic_type.md
  content/docs/basic/03_slice.md
  content/docs/basic/04_map.md
  content/docs/project/14_error.md
  content/docs/project/16_casbin.md
Labels: basic, practice

deploy: a72061c854ee912eab4b48ebce0079a0434ec797
  docs/basic/01_basic_type/index.html
  docs/basic/03_slice/index.html
  docs/basic/04_map/index.html
  docs/basic/index.xml
  docs/index.html
  docs/index.xml
  docs/project/14_error/index.html
  docs/project/16_casbin/index.html
  docs/project/index.xml
  sitemap.xml
  zh-cn.search-data.json
Labels: none

docs(slice): slice parameter
  content/docs/basic/01_basic_type.md
  content/docs/basic/03_slice.md
  content/docs/basic/05_function.md
  content/docs/practice/06_performance.md
  content/docs/project/16_casbin.md
Labels: basic, practice

deploy: 295b34a437f2c8a21592256c4205819518f09277
  docs/basic/01_basic_type/index.html
  docs/basic/03_slice/index.html
  docs/basic/05_function/index.html
  docs/basic/index.xml
  docs/index.html
  docs/index.xml
  docs/practice/06_performance/index.html
  docs/practice/index.xml
  docs/project/16_casbin/index.html
  docs/project/index.xml
  sitemap.xml
  zh-cn.search-data.json
Labels: none

docs(advance): make and new usage
  content/docs/basic/01_basic_type.md
  content/docs/basic/03_slice.md
  content/docs/basic/04_map.md
  content/docs/basic/09_pointer.md
  content/docs/basic/14_make_new.md
  content/docs/concurrency/08_atomic.md
  content/docs/concurrency/09_channel.md
  content/docs/practice/06_performance.md
Labels: concurrency, basic, practice

images issue
  content/docs/basic/01_basic_type.md
  content/docs/basic/14_make_new.md
  content/docs/practice/05_trace.md
Labels: basic, practice

docs(advance): make and new usage (#35)
  content/docs/basic/01_basic_type.md
  content/docs/basic/03_slice.md
  content/docs/basic/04_map.md
  content/docs/basic/09_pointer.md
  content/docs/basic/14_make_new.md
  content/docs/concurrency/08_atomic.md
  content/docs/concurrency/09_channel.md
  content/docs/practice/05_trace.md
  content/docs/practice/06_performance.md
Labels: concurrency, basic, practice

docs(development): guide and booklist
  README.md
  booklist.md
  development.md
Labels: none

docs(readme): update online address
  README.md
Labels: none

docs(development): guide and booklist (#37)
  README.md
  booklist.md
  development.md
Labels: none

chore(booklist): add learning tools
  booklist.md
Labels: none

docs(imgaes): use gitcode as image hosting service
  booklist.md
  content/docs/basic/03_slice.md
  content/docs/basic/04_map.md
  content/docs/basic/09_pointer.md
  content/docs/concurrency/01_mutex.md
  content/docs/concurrency/03_waitgroup.md
  content/docs/concurrency/07_context.md
  content/docs/practice/04_pprof.md
  content/docs/practice/05_trace.md
  content/docs/practice/06_performance.md
  content/docs/practice/10_remote_dev.md
  content/docs/project/01_specs.md
  content/docs/project/06_api_doc.md
  content/docs/project/07_flow.md
  content/docs/project/08_make.md
  content/docs/project/12_goreleaser.md
  content/docs/project/14_error.md
  content/docs/project/16_casbin.md
Labels: concurrency, basic, practice

mm
  content/docs/advance/01_mm.md
Labels: advance

docs(advance): scheduler
  content/docs/advance/01_pre.md
  content/docs/advance/03_scheduler.md
  content/docs/advance/_index.md
  content/docs/advance/mm/01_mm.md
  content/docs/advance/mm/02_gc.md
  content/docs/advance/mm/_index.md
  content/docs/practice/06_performance.md
Labels: practice, advance

go assemble
  content/_index.md
  content/docs/advance/01_pre.md
  content/docs/advance/03_scheduler.md
  content/docs/practice/01_build.md
  content/docs/practice/12_assemble.md
Labels: practice, advance

scheduler
  content/docs/advance/01_pre.md
  content/docs/advance/03_scheduler.md
Labels: advance

main schedule
  content/docs/advance/01_pre.md
  content/docs/advance/03_scheduler.md
Labels: advance

scheduler
  content/docs/advance/01_pre.md
  content/docs/advance/03_scheduler.md
  content/docs/advance/mm/_index.md
  content/docs/advance/scheduler/01_gpm.md
  content/docs/advance/scheduler/02_scheduler_init.md
  content/docs/advance/scheduler/03_main_g.md
  content/docs/advance/scheduler/04_loop.md
  content/docs/advance/scheduler/_index.md
Labels: advance

pre
  content/docs/advance/01_pre.md
  content/docs/advance/pre/01_mem.md
  content/docs/advance/pre/02_complie.md
  content/docs/advance/pre/03_os.md
  content/docs/advance/pre/_index.md
  content/docs/advance/scheduler/01_gpm.md
  content/docs/advance/scheduler/02_scheduler_init.md
  content/docs/advance/scheduler/03_main_g.md
  content/docs/advance/scheduler/04_loop.md
Labels: advance

netpoll
  assets/css/custom.css
  content/docs/advance/04_netpooler.md
  content/docs/advance/05_sysmon.md
  content/docs/advance/pre/01_mem.md
  content/docs/advance/pre/02_complie.md
  content/docs/advance/pre/03_os.md
  content/docs/advance/scheduler/01_gpm.md
  content/docs/advance/scheduler/02_scheduler_init.md
  content/docs/advance/scheduler/03_main_g.md
  content/docs/advance/scheduler/04_loop.md
  content/docs/basic/12_defer.md
  content/docs/basic/13_panic.md
  content/docs/concurrency/01_mutex.md
  content/docs/concurrency/03_waitgroup.md
  content/docs/concurrency/07_context.md
  content/docs/concurrency/09_channel.md
  content/docs/concurrency/10_sema.md
  content/docs/concurrency/11_singleflight.md
  content/docs/practice/04_pprof.md
  content/docs/practice/05_trace.md
  content/docs/practice/06_performance.md
  content/docs/practice/07_coredump.md
Labels: concurrency, basic, practice, advance

go heap
  content/docs/advance/05_sysmon.md
  content/docs/advance/mm/01_mm.md
Labels: advance

mm
  content/docs/advance/mm/01_mm.md
Labels: none

.github/labeler.yml:

# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.

concurrency:
  - changed-files:
      - any-glob-to-any-file: content/docs/concurrency/*

basic:
  - changed-files:
      - any-glob-to-any-file: content/docs/basic/*

practice:
  - changed-files:
      - any-glob-to-any-file: ["content/docs/practice/*", "content/docs/project/*"]

advance:
  - changed-files:
      - any-glob-to-any-file: content/docs/advance/*
