Repository shipengqi/golang-learn, changes with the labels that .github/labeler.yml gives for each.
All labels: concurrency, basic, practice, advance

docs: errgroup and map
  config.yaml
  content/docs/concurrency/12_errorgroup.md
Labels: concurrency

docs: map
  content/docs/basic/04_map.md
Labels: basic

docs: errgroup and map (#15)
  config.yaml
  content/docs/basic/04_map.md
  content/docs/concurrency/12_errorgroup.md
Labels: concurrency, basic

docs: function
  content/docs/basic/01_basic_type.md
  content/docs/basic/05_function.md
  content/docs/basic/12_defer.md
  content/docs/basic/14_make_new.md
  content/docs/basic/14_oop.md
Labels: basic

docs: function (#16)
  content/docs/basic/01_basic_type.md
  content/docs/basic/05_function.md
  content/docs/basic/12_defer.md
  content/docs/basic/14_make_new.md
  content/docs/basic/14_oop.md
Labels: basic

docs: remove pointer and add interface
  content/_index.md
  content/docs/basic/06_interface.md
  content/docs/basic/08_generic.md
  content/docs/basic/09_pointer.md
Labels: basic

add draft labels
  content/docs/advance/01_mm.md
  content/docs/advance/02_gc.md
  content/docs/advance/03_scheduler.md
  content/docs/advance/04_netpooler.md
  content/docs/advance/_index.md
  content/docs/basic/04_map.md
  content/docs/basic/06_interface.md
  content/docs/basic/07_reflect.md
  content/docs/basic/08_generic.md
  content/docs/basic/09_pointer.md
  content/docs/basic/10_range.md
  content/docs/basic/11_select.md
  content/docs/basic/12_defer.md
  content/docs/basic/13_panic.md
  content/docs/basic/14_oop.md
  content/docs/concurrency/01_mutex.md
  content/docs/concurrency/12_errorgroup.md
  content/docs/concurrency/_index.md
  content/docs/practice/11_errors.md
  content/docs/practice/11_project.md
Labels: concurrency, basic, practice, advance

pointer
  content/docs/basic/09_pointer.md
  content/docs/practice/03_test.md
  content/docs/practice/10_remote_dev.md
Labels: basic, practice

docs: remove pointer and add interface (#17)
  content/_index.md
  content/docs/advance/01_mm.md
  content/docs/advance/02_gc.md
  content/docs/advance/03_scheduler.md
  content/docs/advance/04_netpooler.md
  content/docs/advance/_index.md
  content/docs/basic/04_map.md
  content/docs/basic/06_interface.md
  content/docs/basic/07_reflect.md
  content/docs/basic/08_generic.md
  content/docs/basic/09_pointer.md
  content/docs/basic/10_range.md
  content/docs/basic/11_select.md
  content/docs/basic/12_defer.md
  content/docs/basic/13_panic.md
  content/docs/basic/14_oop.md
  content/docs/concurrency/01_mutex.md
  content/docs/concurrency/12_errorgroup.md
  content/docs/concurrency/_index.md
  content/docs/practice/03_test.md
  content/docs/practice/10_remote_dev.md
  content/docs/practice/11_errors.md
  content/docs/practice/11_project.md
Labels: concurrency, basic, practice, advance

docs: go project best practice
  content/docs/advance/_index.md
  content/docs/practice/05_performance.md
  content/docs/practice/11_project.md
  content/docs/practice/_index.md
  content/docs/project/01_structure.md
  content/docs/project/02_commitizen.md
  content/docs/project/03_gsemver.md
  content/docs/project/04_flow.md
  content/docs/project/05_api.md
  content/docs/project/06_api_doc.md
  content/docs/project/07_make.md
  content/docs/project/08_github_actions.md
  content/docs/project/_index.md
  content/docs/project/chglog.md
  content/docs/project/dependabot.md
  content/docs/project/git-chglog.md
  content/docs/project/github-templates.md
  content/docs/project/goreleaser.md
Labels: practice, advance

docs: go project best practice
  content/docs/project/01_structure.md
  content/docs/project/02_commitizen.md
  content/docs/project/05_api.md
  content/docs/project/06_api_doc.md
  content/docs/project/07_make.md
  content/docs/project/08_actions.md
  content/docs/project/09_dependabot.md
  content/docs/project/10_templates.md
  content/docs/project/11_goreleaser.md
  content/docs/project/chglog.md
  content/docs/project/git-chglog.md
Labels: none

docs(practice): add go project practice
  content/docs/practice/08_mod.md
  content/docs/practice/09_gin.md
  content/docs/practice/11_proto_files.md
  content/docs/project/01_specs.md
  content/docs/project/01_structure.md
  content/docs/project/02_commitizen.md
  content/docs/project/02_structure.md
  content/docs/project/03_code.md
  content/docs/project/03_gsemver.md
  content/docs/project/04_commitizen.md
  content/docs/project/04_flow.md
  content/docs/project/05_api.md
  content/docs/project/05_version.md
  content/docs/project/06_api_doc.md
  content/docs/project/07_flow.md
  content/docs/project/07_make.md
  content/docs/project/08_make.md
  content/docs/project/09_actions.md
  content/docs/project/10_dependabot.md
  content/docs/project/10_templates.md
  content/docs/project/11_templates.md
  content/docs/project/12_goreleaser.md
Labels: practice

docs: go performance
  content/docs/practice/04_pprof.md
  content/docs/practice/05_performance.md
  content/docs/practice/06_trace.md
  content/docs/practice/08_mod.md
  content/docs/project/04_commitizen.md
  content/docs/project/08_make.md
  content/docs/project/12_goreleaser.md
Labels: practice

docs: go project best practice (#18)
  content/docs/practice/04_pprof.md
  content/docs/practice/05_performance.md
  content/docs/practice/06_trace.md
  content/docs/practice/08_mod.md
  content/docs/practice/09_gin.md
  content/docs/practice/11_proto_files.md
  content/docs/project/01_specs.md
  content/docs/project/01_structure.md
  content/docs/project/02_commitizen.md
  content/docs/project/02_structure.md
  content/docs/project/03_code.md
  content/docs/project/03_gsemver.md
  content/docs/project/04_commitizen.md
  content/docs/project/04_flow.md
  content/docs/project/05_api.md
  content/docs/project/05_version.md
  content/docs/project/06_api_doc.md
  content/docs/project/07_flow.md
  content/docs/project/07_make.md
  content/docs/project/08_make.md
  content/docs/project/09_actions.md
  content/docs/project/10_dependabot.md
  content/docs/project/11_templates.md
  content/docs/project/12_goreleaser.md
  content/docs/project/chglog.md
  content/docs/project/git-chglog.md
  content/docs/project/github-templates.md
Labels: practice

docs: update core dump
  content/docs/practice/07_coredump.md
Labels: practice

docs: update core dump
  content/docs/practice/07_coredump.md
Labels: practice

docs: update more articles
  content/docs/practice/01_build.md
  content/docs/practice/02_go_race.md
  content/docs/practice/05_performance.md
  content/docs/practice/09_gin.md
  content/docs/project/04_commitizen.md
Labels: practice

.github/labeler.yml:

# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.

concurrency: content/docs/concurrency/*
basic: content/docs/basic/*
practice: content/docs/practice/*
advance: content/docs/advance/*
